* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

button, input, textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img, svg {
  width: 1rem;
}

@font-face {
  font-family: "pl";
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pm";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pr";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pb";
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "staat";
  src: url("../fonts/staatliches-regular-webfont.woff2") format("woff2"), url("../fonts/staatliches-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "pr", sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 575px) {
  body {
    font-size: 1rem;
  }
}

h1, h2 {
  font-family: "staat", fantasy;
  font-size: 2.5rem;
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 575px) {
  h1, h2 {
    font-size: 2rem;
  }
}

p {
  line-height: 1.25em;
}

.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 15px 25px;
  background-color: #ff0055;
  color: #FAFAFA;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.btn::after, .btn::before {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #ff0055;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.btn::after {
  bottom: 0;
}
.btn::before {
  top: 0;
}
.btn:hover {
  background-color: transparent;
}
.btn:hover::after {
  bottom: 30%;
  padding: 10px 0px;
}
.btn:hover::before {
  top: 30%;
  padding: 10px 0px;
}

.diamond {
  aspect-ratio: 1/1;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn.diamond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 1/1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-color: transparent;
}
.btn.diamond::after, .btn.diamond::before {
  content: "";
  aspect-ratio: 1/1;
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #ff0055;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.btn.diamond:hover::after, .btn.diamond:hover::before {
  top: 0px;
  bottom: auto;
  padding: 0px;
}
.btn.diamond:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border: 0.5px solid #ff0055;
  background-color: transparent;
}

header {
  height: 100dvh;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.8666666667) 50%, rgba(255, 255, 255, 0.6666666667) 50%), url(../imgs/sm/milleru_savantminimalist-mockup.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content 1fr -webkit-max-content;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
}
header .s-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0) 50%, #00C9FF 50%);
  mix-blend-mode: color;
}

nav .container {
  width: 85%;
  max-width: 1000px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}
nav .container .logo {
  font-family: "staat", fantasy;
  font-size: 2.5rem;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  display: block;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
nav .container .logo:hover {
  color: #ff0055;
}
@media (max-width: 575px) {
  nav .container .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1.5rem;
  }
}
@media (max-width: 575px) {
  nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

nav .container div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
@media (max-width: 575px) {
  nav .container div:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

nav a {
  font-family: "pr", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  color: #050505;
}
@media (max-width: 575px) {
  nav a {
    font-size: 1.125rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.hero-content {
  width: 85%;
  max-width: 1000px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-content h1 {
  color: #050505;
  font-size: 3rem;
  text-align: center;
}
.hero-content h1 span {
  color: #00C9FF;
}
@media (max-width: 575px) {
  .hero-content h1 {
    font-size: 2rem;
  }
}
.hero-content p {
  max-width: 500px;
  margin: 10px 0px 25px;
}
.hero-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

#scroll {
  font-family: "pl", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0.5em;
  letter-spacing: 0.5em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#scroll .diamond {
  position: absolute;
  background: linear-gradient(135deg, #FFEA00 50%, #ff0055 50%);
  z-index: -1;
  -webkit-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
#scroll .txt {
  aspect-ratio: 1/1;
  height: 10.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
#scroll .txt span {
  display: block;
  margin-bottom: 1.25rem;
}
#scroll .txt:hover {
  color: #FAFAFA;
}
#scroll .txt:hover ~ .diamond {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateY(50%) rotate(-135deg);
          transform: translateY(50%) rotate(-135deg);
  color: #FAFAFA;
}

#projects #p-menu {
  background-color: #FFEA00;
}
#projects #p-menu ul {
  width: 85%;
  max-width: 1000px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#projects #p-menu li {
  font-family: "staat", fantasy;
  font-size: 1.25rem;
  font-weight: normal;
  font-style: normal;
  position: relative;
  z-index: 2;
  padding: 25px 12.5px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#projects #p-menu li .diamond {
  background: #FFEA00;
  height: 25px;
  margin-left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  -webkit-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
}
#projects #p-menu li:hover {
  background-color: #ff0055;
}
#projects #p-menu li:hover .diamond {
  background-color: #ff0055;
}

#projects .card {
  position: relative;
  z-index: 1;
  background-image: url(../imgs/sm/milleru_savantminimalist-mockup.jpg);
  background-size: cover;
}
#projects .card .container {
  width: 85%;
  max-width: 1000px;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
      grid-template-areas: ". cont";
}
#projects .card .content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cont;
  padding: 100px 0px 100px 25px;
}
#projects .card .content p {
  margin: 10px 0px 20px;
}
#projects .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}
#projects .card .buttons .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#projects .card .cblock {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: -1;
  background-color: rgba(0, 201, 255, 0.3333333333);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  mix-blend-mode: color;
}

#about {
  background-color: #272727;
  color: #FAFAFA;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
}
#about .container {
  width: 85%;
  max-width: 1000px;
  margin: 0px auto;
}
#about h2 {
  color: #FFEA00;
}
#about .abt-me {
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}
#about .abt-me .txts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 25px;
}
#about .abt-me .favs {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#about .abt-me .favs h3 {
  font-size: 1.25rem;
}
#about .abt-me .favs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.125em;
  padding: 10px 0px;
  margin-bottom: 20px;
  border-bottom: 0.01px solid #00C9FF;
}
#about .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  padding-bottom: 50px;
}
#about .btns a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#about .diamond {
  background: linear-gradient(135deg, #ff0055 50%, #00C9FF 50%);
  height: 50px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
#about .diamond:last-child {
  -webkit-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
  margin-left: auto;
  background: linear-gradient(135deg, #FFEA00 50%, #ff0055 50%);
}

#nextsteps {
  background-color: #FFEA00;
  padding: 50px 0px;
}
#nextsteps .container {
  width: 85%;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
}
#nextsteps p {
  margin-bottom: 15px;
}
#nextsteps h2 {
  margin-top: 10px;
}
#nextsteps h4 {
  font-family: "staat", fantasy;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  margin: 5px 0px 25px;
}
#nextsteps .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6em;
  padding-bottom: 50px;
  margin-top: 5.5em;
}
#nextsteps .btns a {
  height: 11.5em;
}

footer {
  background-color: #272727;
  color: #FAFAFA;
}
footer p {
  width: 85%;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
  padding: 25px 0px;
}