@use '_resets.scss';
//Project Name: Unique D Miller's Portfolio
//Author: Unique Miller
//Version: 3.0
//Table of Contents in SCSS
// 0. Animations
// 1. Font Kits
// 2. Variables
// 3. Mixins
// 4. General Styles
// 5. Header
// 5.1. Main Navigation
// 5.2. Intro
// 7. Projects Section
// 7.5. Behance Section
// 8. About Section
// 15(to change). Footer
//---------------------------------------------------------
// 0. Animations
// 1. Font Kits
@font-face {
    font-family: 'pl';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pm';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pr';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pb';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'staat';
    src: url('../fonts/staatliches-regular-webfont.woff2') format('woff2'),
         url('../fonts/staatliches-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// 2. Variables
// color variables
$blk: #050505;
$grey: #272727;
$wht: #FAFAFA;
$main: #ff0055;
$sec: #FFEA00;
$acc: #00C9FF;
$blur: rgba(49, 49, 49, 0.9);
// font variables
$light: 'pl', sans-serif;
$reg: 'pr', sans-serif;
$med: 'pm', sans-serif;
$bold: 'pb', sans-serif;
$head: 'staat', fantasy;
// spacing and layout variables
$gridcol: auto;
$gridrow: auto;
$spc: 0px auto;
$lspc: 0px auto 0px auto;
$size: 1.125rem;
$flow: row wrap;
$contain: 85%;
// 3. Mixins
@mixin font($light, $size) {
    font-family: $light;
    font-size: $size;
    font-weight: normal;
    font-style: normal;
}
@mixin marg($spc) {
    margin: $spc;
}
@mixin padd($spc) {
    padding: $spc;
}
@mixin margl($lspc) {
    margin: $lspc;
}
@mixin paddl($lspc) {
    padding: $lspc;
}
@mixin flex($flow) {
    display: flex;
    flex-flow: $flow;
}
@mixin grid($gridcol, $gridrow) {
    display: grid;
    grid-template-columns: $gridcol;
    grid-template-rows: $gridrow;
}
@mixin contain($contain) {
    width: $contain;
    max-width: 1000px;
    margin: 0px auto;
}
@mixin imgsize($size) {
    width: $size;
    height: $size;
}
//media query mixins
@mixin lapl {
  @media (min-width: 1600px) { @content; }
}
@mixin tab {
  @media (max-width: 1280px) and (min-width: 876px) { @content; }
}
@mixin mob {
  @media (max-width: 575px) { @content; }
//    change to 875px
}

// 4. General Styling
html {
    scroll-behavior: smooth;
}
body {
    @include font($reg, $size);
    @include mob {
        font-size: 1rem;
    }
}
h1, h2 {
    @include font($head, 2.5rem);
    @include mob {
        font-size: 2rem;
    }
}
p {
    line-height: 1.25em;
}
.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 15px 25px;
    background-color: $main;
    color: $wht;
    text-align: center;
    transition: 0.5s all;
    &::after, &::before {
        content:'';
        display: block;
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: -1;
        background-color: $main;
        transition: 0.5s all;
    }
    &::after {
        bottom: 0;
    }
    &::before {
        top: 0;
    }
    &:hover {
        background-color: transparent;
        &::after {
            bottom: 30%;
            padding: 10px 0px;
        }
        &::before {
            top: 30%;
            padding: 10px 0px;
        }
    }
}
.diamond {
    aspect-ratio: 1 / 1;
    height: 100%;
    transform-origin: center;
    transform: rotate(45deg);
}
.btn.diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    transform: rotate(0deg);
    background-color: transparent;
    &::after, &::before {
        content:'';
        aspect-ratio: 1 / 1;
        height: 100%;
        transform-origin: center;
        transform: rotate(45deg);
        position: absolute;
        left: 0;
        z-index: -1;
        background-color: $main;
        transition: 0.5s all;
    }
    &:hover {
        &::after, &::before {
            top: 0px;
            bottom: auto;
            padding: 0px;
        }
        &::before {
            transform: rotate(0deg);
            border: 0.5px solid $main;
            background-color: transparent;
        }
    }
}
// 5. Header
header {
    height: 100dvh;
    background: linear-gradient(145deg, #fffd 50%, #fffa 50%), url(../imgs/sm/milleru_savantminimalist-mockup.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    .s-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(145deg, #fff0 50%, $acc 50%);
        mix-blend-mode: color;
    }
}

// 5.1. Main Navigation
nav .container {
    @include contain($contain);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
        @include font($head, 2.5rem);
        text-align: center;
        display: block;
        transition: color 0.5s;
        &:hover {
            color: $main;
        }
        @include mob {
            order: 1;
            font-size: 1.5rem;
        }
    }
    @include mob {
        flex-direction: column;
        gap: 15px;
    }
}
nav .container div:last-child {
    display: flex;
    gap: 25px;
    @include mob {
        order: 2;
    }
}
nav a {
    @include font($reg, 1.25rem);
    @include mob {
        font-size: 1.125rem;
        order: 3;
    }
    color: #050505;
}

// 5.2 Intro Section
.hero-content {
    @include contain($contain);
    @include flex(column wrap);
    justify-content: center;
    align-items: center;
    h1 {
        color: $blk;
        font-size: 3rem;
        text-align: center;
        span {
            color: $acc;
        }
        @include mob {
            font-size: 2rem;
        }
    }
    p {
        max-width: 500px;
        margin: 10px 0px 25px;
    }
    div {
        display: flex;
        gap: 25px;
    }
}
#scroll {
    @include font($light, 1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.5em;
    letter-spacing: 0.5em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .diamond {
        position: absolute;
        background: linear-gradient(135deg, $sec 50%, $main 50%);
        z-index: -1;
        transform: translateY(50%) rotate(45deg);
        transition: 
            transform 0.8s
        ;
    }
    .txt {
        aspect-ratio: 1 / 1;
        height: 10.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        transition: 
            color 0.5s
        ;
        span {
            display: block;
            margin-bottom: 1.25rem;
        }
        &:hover {
            color: $wht;
            & ~ .diamond {
                transform-origin: center;
                transform: translateY(50%) rotate(-135deg);
                color: $wht;
            }
        }
    }
} 

// 6. Projects Section
#projects #p-menu {
    background-color: $sec;
    ul {
        @include contain($contain);
        display: flex;
        gap: 10px;
    }
    li {
        @include font($head, 1.25rem);
        position: relative;
        z-index: 2;
        padding: 25px 12.5px;
        cursor: pointer;
        transition: all 0.5s;
        .diamond {
            background: $sec;
            height: 25px;
            margin-left: 5px;
            transition: all 0.5s;
            position: absolute;
            transform: translateY(-50%) rotate(45deg);
            z-index: -1;
        }
        .active {
            transform: translateY(50%) rotate(45deg);
        }
        &:hover {
            background-color: $main;
            .diamond {
                background-color: $main;
            }
        }
    }
}
#projects .card{
    position: relative;
    z-index: 1;
    background-image: url(../imgs/sm/milleru_savantminimalist-mockup.jpg);
    background-size: cover;
    .container {
        @include contain($contain);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: ". cont";
    }
    .content {
        grid-area: cont;
        padding: 100px 0px 100px 25px;
        p {
            margin: 10px 0px 20px;
        }
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .btn {
            flex: 1;
        }
    }
    .cblock {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        z-index: -1;
        background-color: #00C9FF55;
        backdrop-filter: blur(10px);
        mix-blend-mode: color;
    }
}

// 7. About Section
#about {
    background-color: $grey;
    color: $wht;
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    .container {
        @include contain($contain);
    }
    h2 {
        color: $sec;
    }
    .abt-me {
        padding: 25px 0px;
        display: flex;
        justify-content: space-between;
        gap: 25px;
        .txts {
            @include flex(column wrap);
            flex: 1;
            gap: 25px;
        }
        .favs {
            flex: 1;
            h3 {
                font-size: 1.25rem;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1.125em;
                padding: 10px 0px;
                margin-bottom: 20px;
                border-bottom: 0.01px solid $acc;
            }
        }
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        padding-bottom: 50px;
        a {
            flex: 1;
        }
    }
    .diamond {
        background: linear-gradient(135deg, $main 50%, $acc 50%);
        height: 50px;
        transform: translateY(-50%) rotate(45deg);
        &:last-child {
            transform: translateY(50%) rotate(45deg);
            margin-left: auto;
            background: linear-gradient(135deg, $sec 50%, $main 50%);
        }
    }
}

// 8. About Section
#nextsteps {
    background-color: $sec;
    padding: 50px 0px;
    .container {
        @include contain($contain);
        text-align: center;
    }
    p {
        margin-bottom: 15px;
    }
    h2 {
        margin-top: 10px;
    }
    h4 {
        @include font($head, 1rem);
        margin: 5px 0px 25px;
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6em;
        padding-bottom: 50px;
        margin-top: 5.5em;
        a {
            height: 11.5em;
        }
    }
}

// 9. Footer Section
footer {
    background-color: $grey;
    color: $wht;
    p {
        @include contain($contain);
        text-align: center;
        padding: 25px 0px;
    }
}